<div class="container">
  <h1 class="main-title">Welcome to <span>stopwatch</span></h1>

    <section class="stopwatch">
      <div class="stopwatch__screen">{{ time }}</div>
      <ul class="stopwatch__controls">
        <li>
          <button class="stopwatch__control stopwatch__control--start" 
                  type="button" 
                  (click)='switchAction(Actions.start, localTime)' 
                  *ngIf="state === State.isStopped">{{btnTitle(Actions.start)}}</button>
        </li>
        <li>
          <button class="stopwatch__control stopwatch__control--start" 
                  type="button" 
                  (click)='switchAction(Actions.pause, localTime)' 
                  *ngIf="state === State.isRunning">{{btnTitle(Actions.pause)}}</button>
        </li>
        <li>
          <button class="stopwatch__control stopwatch__control--start" 
                  type="button" 
                  (click)='switchAction(Actions.resume, localTime)'
                  *ngIf="state === State.isPaused">{{btnTitle(Actions.resume)}}</button>
        </li>
        <li>
          <button class="stopwatch__control stopwatch__control--start" 
                  type="button" 
                  (click)='switchAction(Actions.stop, localTime)'>{{btnTitle(Actions.stop)}}</button>
        </li>
        <li>
          <button class="stopwatch__control stopwatch__control--lap" 
                  (click)="addLap()"
                  *ngIf="state !== State.isStopped">Lap</button>
        </li>
      </ul>
        <ul class="stopwatch__laps">
        <li class="stopwatch__lap"
        *ngFor="let lap of laps">
        <p>{{ displayLap(lap) }}</p>
      </li>
    </ul>
    </section>
</div>

<!-- 1. ButtonTitle dynamic <-- done
    2. Services <-- DONE
    3. Start the stopwatch, then close the browser, then open it and see an awfull thing: it's still going. HOW? I need 2 parts for this feature: a local storage and the other is find a way to store the reference in time (dateObject in javascript - google). It's not about lifecycle hooks. More about constructor of service-->